* {
    padding: 0;
    margin: 0;
}
body {
    background: url("world.png") no-repeat center / cover;
    width: 100vw;
    height: 100vh;
}
.main__container {
    border-radius: 50px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: lightskyblue;
    font-size: 72px;
    font-family: sans-serif;
    margin: 50px 0;
}
.quiz__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    perspective: 1000px;
}
.quiz__item {
    position: relative;
    width: 150px;
    height: 150px;
    transition: transform .8s linear;
    transform-style: preserve-3d;
    cursor: pointer;
}
p {
    border-radius: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    top: 0;
    left: 0;
}
.quiz_front {
    color: lightskyblue;
    border: 2px solid lightskyblue;
    background-color: rgba(255, 255, 255, .9);
    backface-visibility: hidden;
    z-index: 2;
}
.quiz_back {
    color: #fff;
    border: 2px solid #fff;
    background-color: rgba(135, 206, 250, .9);
    z-index: 1;
    transform: rotateY(180deg);
}
.card:hover .quiz__item {
    transform: rotateY(180deg);
}